VITE_API_BASE_URL=https://7rdowzigrf.execute-api.ap-southeast-2.amazonaws.com

VITE_COGNITO_DOMAIN=https://ap-southeast-2lsuau4fdk.auth.ap-southeast-2.amazoncognito.com
VITE_COGNITO_CLIENT_ID=2m138k252glh52s02mp7utnhri
VITE_COGNITO_REDIRECT_URI=https://staging.d5ako0wawcm1s.amplifyapp.com/login
VITE_COGNITO_LOGOUT_URI=https://staging.d5ako0wawcm1s.amplifyapp.com/
VITE_COGNITO_REGION=ap-southeast-2